#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

.bg {
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}